<h1>Planet list</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Discovery</th>
            <th scope="col">Habitable</th>
            <th scope="col">Kind of planet</th>
            <th scope="col">Atmosphere</th>
            <th scope="col">Galaxy</th>
            <th scope="col">Transalation time</th>
        </tr>
    </thead>
</table>